<%- include('../port/layout-start', { title: title }) %>
<%- include('../port/menu', { title: title, createAdvBtn: createAdvBtn, authBtn: authBtn }) %>

<% if(list.length) { %>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Тема</th>
        <th scope="col">Опубликовано</th>
        <th scope="col">Действия</th>
      </tr>
    </thead>
    <tbody>
      <% list.map((el, idx) => { %>
        <tr>
            <th scope="row"><%= idx + 1 %></th>
            <td><%= el.shortText %></td>
            <td><%= el.createdAt %></td>
            <td>
              <a class="btn btn-sm btn-primary" href="/api/advertisements/<%= el._id %>">
                <i class="bi bi-info-circle-fill"></i>
              </a>
              <form action="/api/advertisements/delete/<%= el._id %>" method="POST" class="d-inline">
                <button class="btn btn-sm btn-danger">
                  <i class="bi bi-x-circle-fill"></i>
                </button>
              </form>
            </td>
        </tr>
    <% }) %>
    </tbody>
  </table>
<% } else { %>   
  <h3 class="mt-5">Список объявлений пуст!</h3>
<% } %>

<%- include('../port/layout-end') %>