<%- include('../port/layout-start', { title: title }) %>
<%- include('../port/menu', { title: title, createAdvBtn: false, authBtn: false }) %>

<div class="row">
  <div class="col-4">
      <div id="list" class="list-group">
        <% if(messages.length) { %>
          <% messages.map(el => { %>
            <div class="list-group-item list-group-item-action">
              <div class="d-flex w-100 justify-content-between">
                  <small><%= el.name %></small>
                  <small class="text-muted"><%= el.date %></small>
              </div>
              <div class="mt-1 mb-1 messageStyle"><%= el.text %></div>
            </div>
          <% }) %>
        <% } %> 
      </div>
  </div>
</div>

<form class="row mt-5">
  <div class="mb-3">
    <input id="msgText" type="text" name="message" class="form-control" placeholder="Введите текст сообщения" required>
  </div>
  <div class="mb-3">
    <button id="sendBtn" type="button" class="btn btn-primary">Отправить</button>
  </div>
</form>

<%- include('../port/layout-end', { socketActive: true }) %>